
@{
    Layout = null;
}

<h1>@(10+20)</h1>
@{
    int x = 5;
    int y = 6;
    int mul = x * y;
}
<h1>@mul</h1>

<h1>zakirsoftdev@gmail.com</h1>
<h1>Escape Sequence</h1>
<h1>@@zakir</h1>


<h1>Conditional Logic</h1>

@if (x > 5)
{
    <h1>X is greater than 5</h1>
}
else if (x == y)
{
    <h1>@x=@y</h1>
}
else if (x < 5)
{
    <h1>X less than 5</h1>
}
else
{
    <h1>X is @x</h1>
}

<h1>Ternary Operator</h1>
@{
    int a = 10;
    int b = 0;
}

<h1>@((a==b)? b=0: b=10)</h1>

<h1>Switch Statement</h1>

@{
    int num = 14;
}

@switch(num)
{
    case 1:
        <h1>Number is 1</h1>
        break;
    case 2:case 3: case 4:
        <h1> 2&lt;=Number&lt;=4 </h1>
        break;
    case 10:
        <h1>Number is 10</h1>
        break;
    default:
        <h1>This is Default Value</h1>
        break;
}

<h1>Loop</h1>
@for (int i = 0; i <=10; i++)
{
    <h1>@i I am a Programmer</h1>
}

@{
    List<int> numbers = new List<int>() { 1, 2, 3, 4, 5, 6, 7, 8, 9, 10 };
}
@foreach(var item in numbers)
{
    <h1>@item</h1>
}